options {
directory "/var/bind";
dnssec-enable yes;
dnssec-validation yes;
auth-nxdomain no;
listen-on-v6 { any; };
recursion yes;
allow-query { localme; };
forwarders { 8.8.8.8; 8.8.4.4; };
forward only;
};

acl localme { localhost; };

zone "." IN {
type hint;
file "named.root";
};
